<p>post works!</p>
<p [class.text-color]="bool">pass data from parent to child: {{fromParent}}</p>

<button (click)="passMessage()">Click</button>

<img [src]="imageUrl"/>

<p [style.color]="'blue'">check</p>

{{testMessage}}

<button (click)="clickButton()">Click Me</button>

{{testMessage}}
<input type="text" [value]="testMessage" (keyup.enter)="typeMessage(username.value)" #username/>


<input type="text" [(ngModel)]="useremail" (keyup.enter)="typeUserEmail()"/>

<app-post-list [postname]="'from parent'" (msgEvent)="recivedNewMsg($event)"></app-post-list>

{{childMsg}}
{{newOutputMsg}}

